@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #440808;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #440808;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SpaceMono, sans-serif"
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Space Mono";
  src: url("/src/app/fonts/SpaceMono-Regular.ttf"), format(truetype);
  font-weight: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("/src/app/fonts/SpaceMono-Bold.ttf"), format(truetype);
  font-weight: bold;
}